﻿@model IEnumerable<Models.StarSystem>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="~/CSS/List.css" type="text/css">
    <title>ListSystem</title>
</head>
<body>

    <a class="nav-link" style="color: #FFF842" href="/">back to homepage</a>
    <h1>Systems Listed</h1>
    <table class="container">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SectorName)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SectorName)
                    </td>
                    <td>
                        <a class="nav-link" href="/Home/AddStar?id=@item.SystemID">Add Star</a>
                        <br />
                        <a class="nav-link" href="/Home/SystemToStarList?id=@item.SystemID">System's stars</a>
                        <br />
                        <a class="nav-link" href="/Home/UpdateSystem?id=@item.SystemID">Update System</a>
                        <br />
                        <a class="nav-link" href="/Home/DeleteSystem?id=@item.SystemID">Delete</a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
